
 
 .node circle {
     cursor: pointer;
     fill: #fff;
     stroke: steelblue;
     stroke-width: 2px;
 }
 .node text {
     font: 11px sans-serif;
     fill: black;
 }
 path.link {
     fill: none;
     stroke: #ccc; 
     stroke-width: 1.5px;
 }
 svg {
     pointer-events: all;
 }