
 
 .node circle {
     cursor: pointer;
     fill: #ccc;
     stroke: steelblue;
     stroke-width: 1px;
 }
 .node text {
     font: 8px sans-serif;
     fill: black;
 }
 path.link {
     fill: none;
     stroke: #fff; 
     stroke-width: 1px;
 }
 svg {
     pointer-events: all;
 }